
/// Label Padding
/// @group framework
/// @access public
/// @type Number
$label-padding					: .3rem .5rem !default;

/// Label Font Size
/// @group framework
/// @access public
/// @type Number
$label-font-size				: 85% !default;

/// Label Border Radius
/// @group framework
/// @access public
/// @type Number
$label-border-radius			: $border-radius-base !default;

/// Label Text Transform
/// @group framework
/// @access public
/// @type String
$label-text-transform			: initial !default;

/// Label Colour
/// @group framework
/// @access public
/// @type Color
$label-color					: inherit !default;

/// Label Background
/// @group framework
/// @access public
/// @type Color
$label-background				: rgba(0, 0, 0, .05) !default;

/*---
Label
@group			UIComponents/Label
@desc			...
@author			Michael Ord
@tags			module
@source			false
---
<h1>Example heading <span class="label">New</span></h1>
<h2>Example heading <span class="label">New</span></h2>
<h3>Example heading <span class="label">New</span></h3>
<h4>Example heading <span class="label">New</span></h4>
<h5>Example heading <span class="label">New</span></h5>
<h6>Example heading <span class="label">New</span></h6>
*/

/*---
Label Variations
@group			UIComponents/Label
@desc			...
@modifier		label--success	: Success
@modifier		label--info		: Info
@modifier		label--warning	: Warning
@modifier		label--error	: Error
@todo			Document
@author			Michael Ord
@tags			module
---
<span class="label {modifier}">Example Label</span>
*/
.label
{
	$parent						: &;

	display						: inline-block;
	white-space					: nowrap;
	cursor						: default;

	font-weight					: 600;

	padding						: $label-padding;
	font-size					: $label-font-size;
	border-radius				: $label-border-radius;

	&:not(code)
	{
		text-transform			: $label-text-transform;
	}

	background					: $label-background;
	color						: $label-color;

	&--success
	{
		background-color		: $clr-success;
		color					: #fff;
	}

	&--info
	{
		background-color		: $clr-info;
		color					: #fff;
	}

	&--warning
	{
		background-color		: $clr-warning;
	}

	&--error
	{
		background-color		: $clr-error;
		color					: #fff;
	}
}
